* {
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}

.main {
  min-height: calc(100vh - 88px - 5vh);
  position: relative;
}

.register-container {
  position: relative;
  min-height: calc(100vh - 88px - 5vh);
  padding-top: 40px;
}

.register-container::after {
  content: "";
  background-image: url('./components/images/bg.jpg');
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
